* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
$main-white: #fff;
$main-green: #065823;
:root {
  --heading-font: 40px;
  --title-font: 30px;
  --text-font: 20px;
  --small-font: 18px;
  --tiny-font: 15px;
}
$title-spacing: 2px;
$full-height: 100%;
$fixed-height: 100vh;

body {
  overflow-x: hidden;
  // background: rgba(199, 196, 196, 0.877);
}

header {
  color: $main-white;
  height: $fixed-height;
  width: 100%;
  .clip {
    position: relative;
    height: 100%;
    .clip-path {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.733);
      background-image: url("./assets/earth-2.jpg");
      background-size: cover;
      background-position: top;
      background-blend-mode: overlay;
      background-repeat: no-repeat;
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
      z-index: -1;
    }
    nav {
      width: 100%;
      height: 100px;
      padding: 0 100px;
      .logo {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: $full-height;
      }
      .nav-wrapper.active {
        z-index: 9990;
        opacity: 1;
        left: 0;
        ul li a {
          opacity: 1;
          transform: translateX(0);
        }
      }
      ul {
        float: right;
        li {
          float: left;
          line-height: 100px;
          list-style: none;
          &:not(:first-child) {
            margin-left: 48px;
          }
          &:last-child {
            margin-right: 24px;
          }
          a {
            text-decoration: none;
            color: $main-white;
          }
        }
      }
      .nav-btn.active {
        transform: rotate(45deg);
        i {
          background: #000;
          transition: transform 0.2s ease;
          &:nth-child(1) {
            transform: translateY(6px) rotate(180deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-6px) rotate(90deg);
          }
        }
      }
    }
    .landing {
      padding: 100px;
      p {
        font-size: var(--small-font);
        padding-bottom: 10px;
        letter-spacing: 1.5px;
      }
      h1 {
        font-size: calc(var(--heading-font) + 10px);
        letter-spacing: $title-spacing;
        line-height: 10vh;
      }
    }
  }
}

main {
  section.services {
    height: $full-height;
    .intro-columns {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      .column {
        width: 250px;
        height: 100%;
        margin: 0 30px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.02),
          0 0 20px rgba(0, 0, 0, 0.192), 0 0 10px rgba(255, 255, 255, 0.02);
        padding: 27px;
        text-align: center;
        transform: translateY(-100px);
        background: $main-white;
        img {
          width: 100px;
          height: 100px;
          margin: 20px 0;
        }
        h1 {
          font-size: var(--small-font);
          padding-bottom: 5px;
        }
        p {
          font-size: var(--tiny-font);
          line-height: 3vh;
        }
      }
    }
    .carousel {
      padding: 100px 200px;
      display: none;
      width: 100%;
      height: 100%;
      .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide {
          width: 250px;
          height: 300px;
          margin: 0 30px;
          background: #bde0c1c5;
          filter: blur(4px);
          border-radius: 10px;
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.02),
            0 0 20px rgba(0, 0, 0, 0.192), 0 0 10px rgba(255, 255, 255, 0.02);
            transition: background .3s;
          &.swiper-slide-active {
            filter: blur(0);
            background: $main-white;
          }
          .column {
            border-radius: 15px;
            height: 100%;
            width: 100%;
            padding: 27px;
            text-align: center;
            img {
              width: 100px;
              height: 100px;
              margin: 20px 0;
            }
            h1 {
              font-size: var(--small-font);
              padding-bottom: 5px;
            }
            p {
              font-size: var(--tiny-font);
              line-height: 3vh;
            }
          }
        }
        .swiper-pagination {
          .swiper-pagination-bullet-active {
            background: $main-green;
          }
        }
      }
    }
    .what-we-do {
      text-align: center;
      padding: 50px 20px;
      p {
        padding-bottom: 3px;
        &:first-of-type {
          color: $main-green;
          font-weight: 800;
        }
        &:last-of-type {
          letter-spacing: 1.5px;
        }
      }
      h1 {
        font-size: var(--heading-font);
        font-weight: 800;
        padding-bottom: 5px;
      }
    }
  }
  section.target {
    width: 100%;
    height: $fixed-height;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .target-text {
      width: 550px;
      h1 {
        font-size: var(--title-font);
        font-weight: 600;
        padding-bottom: 10px;
      }
      p {
        line-height: 25px;
        padding-bottom: 10px;
      }
      .business-analysis {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        .column {
          width: 100%;
          height: 100%;
          padding: 15px 20px;
          text-align: center;
          background: rgba(255, 255, 255, 0.05);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(10px);
          border-radius: 20px;
          transition: 0.3s;
          position: relative;
          img {
            width: 80px;
            transition: 0.3s;
          }
          p {
            font-size: var(--tiny-font);
            line-height: 3vh;
            padding-top: 10px;
          }
        }
      }
    }
    .target-image {
      position: relative;
      img {
        width: 450px;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.733));
        animation: bob_up_down 4s ease-in-out infinite;
      }
      &::before {
        content: "";
        position: absolute;
        transform-origin: center;
        bottom: -20px;
        left: 0;
        right: 0;
        transform: scale(0.5);
        height: 10%;
        background: rgba(0, 0, 0, 0.671);
        border-radius: 50%;
        animation: shadow_bop 4s ease-in-out infinite;
      }
    }
  }
  section.web-services {
    margin: 100px 0;
    width: 100%;
    height: 250px;
    display: flex;
    background: $main-green;
    .column {
      width: 100%;
      height: 100%;
      text-align: center;
      position: relative;
      transition: 0.3s;
      color: $main-white;
      &:hover {
        background: $main-white;
        color: #000;
      }
      &:hover .cls-1 {
        fill: #000;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1.7px;
        background: $main-white;
        transform: scale(0.8);
        transform-origin: center;
      }
      &:hover::before {
        background: #000;
      }
      p {
        font-size: var(--tiny-font);
        line-height: 3vh;
        padding-bottom: 20px;
      }
      h1 {
        font-size: var(--text-font);
        padding-bottom: 20px;
      }
      .image {
        svg {
          width: 80px;
          height: 80px;
          margin-top: 30px;
        }
      }
    }
  }

  section.works {
    width: 100%;
    height: 100%;
    text-align: center;
    // padding: 100px;
    h1.title {
      font-size: var(--title-font);
      color: $main-green;
      font-weight: 800;
      border-bottom: 2px solid $main-green;
      display: inline-block;
    }
    .carousel {
      padding: 0 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-container {
        width: 100%;
        padding: 50px 0;
        .swiper-slide {
          background-position: center;
          background-size: cover;
          width: 290px;
          height: 290px;
          img {
            display: block;
            width: 100%;
            object-fit: cover;
          }
        }
        .swiper-pagination {
          .swiper-pagination-bullet-active {
            background: $main-green;
          }
        }
      }
    }
  }
  section.agency {
    width: 100%;
    height: 100%;
    padding: 100px;
    .title {
      display: flex;
      align-items: center;
      h1 {
        font-size: var(--title-font);
        font-weight: 700;
        position: relative;
        padding-left: 10px;
      }
      hr {
        width: 60px;
        height: 3.5px;
        background: $main-green;
      }
    }
    p {
      color: $main-green;
      font-size: var(--small-font);
    }
    .workspaces {
      display: grid;
      place-content: center;
      grid-template-columns: 400px 400px;
      grid-template-rows: 250px 250px;
      grid-row-gap: 8px;
      grid-column-gap: 8px;
      margin-top: 30px;
      .column {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        &:nth-child(1) {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }
        &:nth-child(2) {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }
        &:nth-child(3) {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover::before {
          left: 0;
          opacity: 1;
        }
        &:hover .content {
          transform: translateY(0);
          opacity: 1;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100%;
          background: transparentize($color: $main-green, $amount: 0.25);
          transition: 0.5s ease-in;
          opacity: 0;
        }
        .content {
          width: 250px;
          padding: 30px;
          background: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(20px);
          position: absolute;
          bottom: 10px;
          left: 75px;
          transition: 0.5s ease-in all;
          transition-delay: 0.4s;
          transform: translateY(100%);
          opacity: 0;
          h1 {
            font-size: var(--text-font);
            color: $main-white;
          }
          p {
            font-size: var(--tiny-font);
            color: $main-white;
          }
        }
      }
    }
  }
  section.who-we-are {
    height: 250px;
    width: 100%;
    background: #191919;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .column {
      position: relative;
      width: 300px;
      color: $main-white;
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: -20px;
        width: 2px;
        height: 100%;
        background: $main-green;
      }
      h1 {
        font-size: var(--title-font);
        font-weight: 600;
        padding-bottom: 10px;
      }
      p {
        font-size: var(--small-font);
        font-weight: 100;
        color: rgb(117, 117, 117);
        font-stretch: condensed;
        letter-spacing: 1.2px;
      }
    }
  }
  section.testimonials {
    width: 100%;
    padding: 100px;
    position: relative;
    .title {
      display: flex;
      align-items: center;
      h1 {
        font-size: var(--title-font);
        font-weight: 700;
        position: relative;
        padding-left: 10px;
      }
      hr {
        width: 60px;
        height: 3.5px;
        background: $main-green;
      }
    }
    p {
      color: $main-green;
      font-size: var(--small-font);
    }
    .testifiers {
      .carousel {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .swiper-container {
          width: 100%;
          height: 100%;
          padding: 50px 0;
          .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 290px;
            background: #b5f8bec5;
            box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
            filter: blur(4px);
            border-radius: 10px;
            transition: background .3s;
            &.swiper-slide-active {
              filter: blur(0);
              background: $main-white;
            }
            .testimonial-box {
              position: relative;
              width: 100%;
              padding: 30px;
              padding-top: 90px;
              color: #191919;
              .quote {
                position: absolute;
                top: 20px;
                right: 20px;
                opacity: 0.2;
                width: 80px;
              }
              .content {
                p {
                  font-size:var(--small-font);
                  color: #191919;
                }
                .details {
                  display: flex;
                  align-items: center;
                  margin-top: 20px;
                  .img-box {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 10px;
                    img {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  h2 {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: #1a1717;
                    line-height: 1.1em;
                    span {
                      font-size: 12px;
                      color: #666;
                    }
                  }
                }
              }
            }
          }
          .swiper-pagination {
            .swiper-pagination-bullet-active {
              background: $main-green;
            }
          }
          &.swiper-container-3d .swiper-slide-shadow-left,
          &.swiper-container-3d .swiper-slide-shadow-right {
            background-image: none;
          }
        }
      }
      p {
        text-align: center;
        color: #333;
        padding-top: 50px;
      }
      .row {
        min-height: 120px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .column {
          width: 100px;
          height: 100px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      hr {
        height: 80px;
        width: 2.6px;
        background: $main-green;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  section.contact {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 350px;
      background: transparentize($color: rgb(1, 15, 6), $amount: 0.1);
      color: $main-white;
      flex-direction: column;
      background-image: url("assets/office.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: overlay;
      p {
        font-size: var(--title-font);
        padding-bottom: 30px;
      }
      button {
        height: 50px;
        background: transparent;
        border: 2px solid green;
        outline: none;
        transition: background 0.3s, box-shadow 0.36s;
        &:hover {
          background: green;
          box-shadow: 0 5px 15px rgba(61, 199, 33, 0.637);
        }
        a {
          padding: 25px 50px;
          font-size: var(--small-font);
          text-decoration: none;
          color: $main-white;
        }
      }
    }
  }
}
footer {
  background: rgb(3, 14, 3);
  width: 100%;
  padding-bottom: 90px;
  .container {
    width: 100%;
    height: 100%;
    .row {
      padding: 100px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      .column {
        color: $main-white;
        margin-right: 60px;
        &:not(:first-child) {
          width: 200px;
          margin: 0 15px;
        }
        &:first-child {
          hr {
            width: 90px;
            height: 2.2px;
            background: green;
            border: none;
            margin: 10px 0;
          }
          p{
            padding: 0;
          }
        }
        ul {
          li {
            list-style: none;
            &:not(:last-child) {
              margin-bottom: 10px;
            }
            b {
            }
            a, p {
              color: #bbb;
              font-size: var(--tiny-font);
              text-decoration: none;
              transition: color 0.3s;
              padding: 0;
              &:hover {
                color: $main-green;
              }
            }
            p{
              &:hover{
                color: #bbb;
              }
            }
          }
        }
      }
    }
    hr {
      width: 90%;
      margin: 0 auto;
      height: 1.5px;
      background: #999;
      border: none;
    }
    P{
       padding-top: 30px;
       padding-left: 100px;
       color: #eee;
       font-size: var(--tiny-font);
     }
  }
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}
// animations
@keyframes bob_up_down {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-80px);
  }
}
@keyframes shadow_bop {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.8);
  }
}

// media queries
@media screen and (max-width: 800px) {
  header {
    .clip {
      nav {
        padding: 0 50px;
        .nav-wrapper {
          position: fixed;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100vh;
          z-index: 100;
          background: #fff;
          opacity: 0;
          transition: all 0.3s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          ul {
            position: relative;
            width: 100%;
            li {
              float: none;
              width: 100%;
              text-align: center;
              line-height: 0;
              margin: 50px 0;
              padding: 0;
              &:nth-child(1) a {
                transition-delay: 0.3s;
              }
              &:nth-child(2) a {
                transition-delay: 0.4s;
              }
              &:nth-child(3) a {
                transition-delay: 0.5s;
              }
              &:nth-child(4) a {
                transition-delay: 0.6s;
              }
              // &:nth-child(5) a {
              //   transition-delay: 0.8s;
              // }
              &:not(:first-child) {
                margin-left: 0;
              }
              a {
                padding: 5px 20px;
                opacity: 0;
                color: #000;
                font-size: 1.5em;
                font-weight: 700;
                letter-spacing: 1.2px;
                transform: translateX(-20px);
                transition: 0.5s;
                display: inline-flex;
                &::before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 40%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: rgba(0, 0, 0, 0.1);
                  border-radius: 50%;
                  transform: translate(-50%, -50%);
                  z-index: -1;
                  font-size: 3em;
                  transition: letter-spacing 0.5s, left 0.5s;
                  opacity: 0;
                  text-transform: uppercase;
                  letter-spacing: 500px;
                }
              }
              &:hover a::before {
                content: attr(data-text);
                opacity: 1;
                letter-spacing: 10px;
                left: 50%;
                width: 1800px;
                height: 1800px;
                pointer-events: none;
              }
            }
          }
        }
        .nav-btn {
          position: absolute;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
          i {
            display: block;
            width: 20px;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            margin-left: 14px;
            &:nth-child(1) {
              margin-top: 16px;
            }
            &:nth-child(2) {
              margin-top: 4px;
              opacity: 1;
            }
            &:nth-child(3) {
              margin-top: 4px;
            }
          }
        }
      }
      .landing {
        padding: 50px;
      }
    }
  }
  main {
    section.services {
      .intro-columns {
        .column {
          margin: 0 10px;
        }
      }
      .carousel {
        .column {
          margin: 0 10px;
        }
      }
    }
    section.services {
      .what-we-do {
        p {
          line-height: 1.5rem;
          &:last-of-type {
            letter-spacing: normal;
          }
        }
      }
    }
    section.target {
      padding: 50px;
      flex-direction: column-reverse;
      height: $full-height;
      .target-text {
        width: auto;
        text-align: center;
        margin: 50px 0;
      }
    }
    section.agency {
      padding: 50px;
      .workspaces {
        grid-template-columns: 250px 250px;
        grid-template-rows: 200px 200px;
        grid-row-gap: 8px;
        grid-column-gap: 8px;
        margin-top: 30px;
        .column {
          .content {
            width: 200px;
            left: 25px;
            padding: 20px;
          }
        }
      }
    }
  }
  footer {
    padding-bottom: 40px;
    .container{
      .row{
        padding: 50px;
        justify-content: space-around;
        .column{
          margin: 0;
          margin-bottom: 30px;
          &:not(:first-child) {
            width: 300px;
            margin: 0;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  :root {
    --heading-font: 30px;
    --title-font: 20px;
    --text-font: 18px;
    --small-font: 16px;
    --tiny-font: 14px;
  }

  header {
    .clip {
      nav {
        padding: 0 20px;
        .nav-btn {
          top: 20px;
        }
      }
      .landing {
        padding: 50px 20px;
        h1 {
          font-size: var(--heading-font);
          letter-spacing: 1px;
          line-height: 45px;
        }
      }
    }
  }
  main {
    section.services {
      .intro-columns {
        display: none;
      }
      .carousel {
        display: unset;
        padding: 0px 0;
        transform: translateY(-100px);
        .swiper-container {
          &.swiper-container-3d .swiper-slide-shadow-left,
          &.swiper-container-3d .swiper-slide-shadow-right {
            background-image: none;
          }
        }
      }
    }
    section.target {
      .target-text {
        .business-analysis {
          grid-template-columns: 1fr;
        }
      }
      .target-image {
        img {
          max-width: 350px;
        }
      }
    }
    section.web-services {
      flex-direction: column;
      height: 100%;
      .column {
        padding: 10px 40px;
        &::before {
          bottom: 10px;
        }
      }
    }
    section.works {
      .carousel {
        padding: 0;
      }
    }
    section.agency {
      padding: 30px;
      .workspaces {
        grid-template-columns: 350px;
        grid-template-rows: 300px 300px 300px;
        .column {
          &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
          }
          &:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
          }
          &:nth-child(3) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
          }
          .content {
            left: 50px;
          }
        }
      }
    }
    section.who-we-are {
      height: 100%;
      flex-direction: column;
      padding: 30px 0;
      .column {
        width: 250px;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        h1 {
          font-size: var(--small-font);
        }
        p {
          font-size: var(--tiny-font);
        }
      }
    }
    section.testimonials {
      padding: 30px;
      .testifiers {
        .carousel {
          padding: 0;
        }
      }
    }
  }
  footer {
    .container{
      .row{
        padding-top: 40px;
        padding: 30px;
        justify-content: unset;
        .column{
          margin: 0;
          margin-bottom: 30px;
          &:not(:first-child) {
            width: 300px;
            margin: 0;
            margin-bottom: 30px;
          }
        }
      }
      p{
        padding-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  main {
    section.agency {
      .workspaces {
        grid-template-columns: 300px;
        .content {
          left: 25px;
        }
      }
    }
    section.target {
      .target-image {
        img {
          max-width: 300px;
        }
      }
    }
    section.testimonials {
      padding: 30px;
      .testifiers {
        .carousel {
          padding: 0;
          .swiper-container{
            .swiper-slide{
              width: 300px;
              .testimonial-box{
                padding: 25px;
              }
            }
          }
        }
      }
    }
  }
  @keyframes bob_up_down {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}
