* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

:root {
  --heading-font: 40px;
  --title-font: 30px;
  --text-font: 20px;
  --small-font: 18px;
  --tiny-font: 15px;
}

body {
  overflow-x: hidden;
}

header {
  color: #fff;
  height: 100vh;
  width: 100%;
}

header .clip {
  position: relative;
  height: 100%;
}

header .clip .clip-path {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.733);
  background-image: url("./assets/earth-2.jpg");
  background-size: cover;
  background-position: top;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  z-index: -1;
}

header .clip nav {
  width: 100%;
  height: 100px;
  padding: 0 100px;
}

header .clip nav .logo {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
}

header .clip nav .nav-wrapper.active {
  z-index: 9990;
  opacity: 1;
  left: 0;
}

header .clip nav .nav-wrapper.active ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .clip nav ul {
  float: right;
}

header .clip nav ul li {
  float: left;
  line-height: 100px;
  list-style: none;
}

header .clip nav ul li:not(:first-child) {
  margin-left: 48px;
}

header .clip nav ul li:last-child {
  margin-right: 24px;
}

header .clip nav ul li a {
  text-decoration: none;
  color: #fff;
}

header .clip nav .nav-btn.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .clip nav .nav-btn.active i {
  background: #000;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

header .clip nav .nav-btn.active i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

header .clip nav .nav-btn.active i:nth-child(2) {
  opacity: 0;
}

header .clip nav .nav-btn.active i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

header .clip .landing {
  padding: 100px;
}

header .clip .landing p {
  font-size: var(--small-font);
  padding-bottom: 10px;
  letter-spacing: 1.5px;
}

header .clip .landing h1 {
  font-size: calc(var(--heading-font) + 10px);
  letter-spacing: 2px;
  line-height: 10vh;
}

main section.services {
  height: 100%;
}

main section.services .intro-columns {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.services .intro-columns .column {
  width: 250px;
  height: 100%;
  margin: 0 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.02), 0 0 20px rgba(0, 0, 0, 0.192), 0 0 10px rgba(255, 255, 255, 0.02);
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.02), 0 0 20px rgba(0, 0, 0, 0.192), 0 0 10px rgba(255, 255, 255, 0.02);
  padding: 27px;
  text-align: center;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  background: #fff;
}

main section.services .intro-columns .column img {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}

main section.services .intro-columns .column h1 {
  font-size: var(--small-font);
  padding-bottom: 5px;
}

main section.services .intro-columns .column p {
  font-size: var(--tiny-font);
  line-height: 3vh;
}

main section.services .carousel {
  padding: 100px 200px;
  display: none;
  width: 100%;
  height: 100%;
}

main section.services .carousel .swiper-container {
  width: 100%;
  height: 100%;
}

main section.services .carousel .swiper-container .swiper-slide {
  width: 250px;
  height: 300px;
  margin: 0 30px;
  background: #bde0c1c5;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.02), 0 0 20px rgba(0, 0, 0, 0.192), 0 0 10px rgba(255, 255, 255, 0.02);
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.02), 0 0 20px rgba(0, 0, 0, 0.192), 0 0 10px rgba(255, 255, 255, 0.02);
  -webkit-transition: background .3s;
  transition: background .3s;
}

main section.services .carousel .swiper-container .swiper-slide.swiper-slide-active {
  -webkit-filter: blur(0);
          filter: blur(0);
  background: #fff;
}

main section.services .carousel .swiper-container .swiper-slide .column {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 27px;
  text-align: center;
}

main section.services .carousel .swiper-container .swiper-slide .column img {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}

main section.services .carousel .swiper-container .swiper-slide .column h1 {
  font-size: var(--small-font);
  padding-bottom: 5px;
}

main section.services .carousel .swiper-container .swiper-slide .column p {
  font-size: var(--tiny-font);
  line-height: 3vh;
}

main section.services .carousel .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #065823;
}

main section.services .what-we-do {
  text-align: center;
  padding: 50px 20px;
}

main section.services .what-we-do p {
  padding-bottom: 3px;
}

main section.services .what-we-do p:first-of-type {
  color: #065823;
  font-weight: 800;
}

main section.services .what-we-do p:last-of-type {
  letter-spacing: 1.5px;
}

main section.services .what-we-do h1 {
  font-size: var(--heading-font);
  font-weight: 800;
  padding-bottom: 5px;
}

main section.target {
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.target .target-text {
  width: 550px;
}

main section.target .target-text h1 {
  font-size: var(--title-font);
  font-weight: 600;
  padding-bottom: 10px;
}

main section.target .target-text p {
  line-height: 25px;
  padding-bottom: 10px;
}

main section.target .target-text .business-analysis {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

main section.target .target-text .business-analysis .column {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

main section.target .target-text .business-analysis .column img {
  width: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main section.target .target-text .business-analysis .column p {
  font-size: var(--tiny-font);
  line-height: 3vh;
  padding-top: 10px;
}

main section.target .target-image {
  position: relative;
}

main section.target .target-image img {
  width: 450px;
  -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.733));
          filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.733));
  -webkit-animation: bob_up_down 4s ease-in-out infinite;
          animation: bob_up_down 4s ease-in-out infinite;
}

main section.target .target-image::before {
  content: "";
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  bottom: -20px;
  left: 0;
  right: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  height: 10%;
  background: rgba(0, 0, 0, 0.671);
  border-radius: 50%;
  -webkit-animation: shadow_bop 4s ease-in-out infinite;
          animation: shadow_bop 4s ease-in-out infinite;
}

main section.web-services {
  margin: 100px 0;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #065823;
}

main section.web-services .column {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

main section.web-services .column:hover {
  background: #fff;
  color: #000;
}

main section.web-services .column:hover .cls-1 {
  fill: #000;
}

main section.web-services .column::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1.7px;
  background: #fff;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: center;
          transform-origin: center;
}

main section.web-services .column:hover::before {
  background: #000;
}

main section.web-services .column p {
  font-size: var(--tiny-font);
  line-height: 3vh;
  padding-bottom: 20px;
}

main section.web-services .column h1 {
  font-size: var(--text-font);
  padding-bottom: 20px;
}

main section.web-services .column .image svg {
  width: 80px;
  height: 80px;
  margin-top: 30px;
}

main section.works {
  width: 100%;
  height: 100%;
  text-align: center;
}

main section.works h1.title {
  font-size: var(--title-font);
  color: #065823;
  font-weight: 800;
  border-bottom: 2px solid #065823;
  display: inline-block;
}

main section.works .carousel {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.works .carousel .swiper-container {
  width: 100%;
  padding: 50px 0;
}

main section.works .carousel .swiper-container .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

main section.works .carousel .swiper-container .swiper-slide img {
  display: block;
  width: 100%;
}

main section.works .carousel .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #065823;
}

main section.agency {
  width: 100%;
  height: 100%;
  padding: 100px;
}

main section.agency .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.agency .title h1 {
  font-size: var(--title-font);
  font-weight: 700;
  position: relative;
  padding-left: 10px;
}

main section.agency .title hr {
  width: 60px;
  height: 3.5px;
  background: #065823;
}

main section.agency p {
  color: #065823;
  font-size: var(--small-font);
}

main section.agency .workspaces {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 400px 400px;
      grid-template-columns: 400px 400px;
  -ms-grid-rows: 250px 250px;
      grid-template-rows: 250px 250px;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  margin-top: 30px;
}

main section.agency .workspaces .column {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

main section.agency .workspaces .column:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

main section.agency .workspaces .column:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

main section.agency .workspaces .column:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

main section.agency .workspaces .column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section.agency .workspaces .column:hover::before {
  left: 0;
  opacity: 1;
}

main section.agency .workspaces .column:hover .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main section.agency .workspaces .column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgba(6, 88, 35, 0.75);
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0;
}

main section.agency .workspaces .column .content {
  width: 250px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: absolute;
  bottom: 10px;
  left: 75px;
  -webkit-transition: 0.5s ease-in all;
  transition: 0.5s ease-in all;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

main section.agency .workspaces .column .content h1 {
  font-size: var(--text-font);
  color: #fff;
}

main section.agency .workspaces .column .content p {
  font-size: var(--tiny-font);
  color: #fff;
}

main section.who-we-are {
  height: 250px;
  width: 100%;
  background: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.who-we-are .column {
  position: relative;
  width: 300px;
  color: #fff;
}

main section.who-we-are .column::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  width: 2px;
  height: 100%;
  background: #065823;
}

main section.who-we-are .column h1 {
  font-size: var(--title-font);
  font-weight: 600;
  padding-bottom: 10px;
}

main section.who-we-are .column p {
  font-size: var(--small-font);
  font-weight: 100;
  color: #757575;
  font-stretch: condensed;
  letter-spacing: 1.2px;
}

main section.testimonials {
  width: 100%;
  padding: 100px;
  position: relative;
}

main section.testimonials .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.testimonials .title h1 {
  font-size: var(--title-font);
  font-weight: 700;
  position: relative;
  padding-left: 10px;
}

main section.testimonials .title hr {
  width: 60px;
  height: 3.5px;
  background: #065823;
}

main section.testimonials p {
  color: #065823;
  font-size: var(--small-font);
}

main section.testimonials .testifiers .carousel {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main section.testimonials .testifiers .carousel .swiper-container {
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  background: #b5f8bec5;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(4px);
          filter: blur(4px);
  border-radius: 10px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide.swiper-slide-active {
  -webkit-filter: blur(0);
          filter: blur(0);
  background: #fff;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide .testimonial-box {
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #191919;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide .testimonial-box .quote {
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0.2;
  width: 100px;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide .testimonial-box .content p {
  font-size: var(--text-font);
  color: #191919;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide .testimonial-box .content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide .testimonial-box .content .details .img-box {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide .testimonial-box .content .details .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide .testimonial-box .content .details h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #1a1717;
  line-height: 1.1em;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-slide .testimonial-box .content .details h2 span {
  font-size: 12px;
  color: #666;
}

main section.testimonials .testifiers .carousel .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #065823;
}

main section.testimonials .testifiers .carousel .swiper-container.swiper-container-3d .swiper-slide-shadow-left,
main section.testimonials .testifiers .carousel .swiper-container.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

main section.testimonials .testifiers p {
  text-align: center;
  color: #333;
  padding-top: 50px;
}

main section.testimonials .testifiers .row {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.testimonials .testifiers .row .column {
  width: 100px;
  height: 100px;
}

main section.testimonials .testifiers .row .column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section.testimonials .testifiers hr {
  height: 80px;
  width: 3px;
  background: #065823;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main section.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 350px;
  background: rgba(1, 15, 6, 0.9);
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("assets/office.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

main section.contact .container p {
  font-size: var(--title-font);
  padding-bottom: 30px;
}

main section.contact .container button {
  height: 50px;
  background: transparent;
  border: 2px solid green;
  outline: none;
  -webkit-transition: background 0.3s, -webkit-box-shadow 0.36s;
  transition: background 0.3s, -webkit-box-shadow 0.36s;
  transition: background 0.3s, box-shadow 0.36s;
  transition: background 0.3s, box-shadow 0.36s, -webkit-box-shadow 0.36s;
}

main section.contact .container button:hover {
  background: green;
  -webkit-box-shadow: 0 5px 15px rgba(61, 199, 33, 0.637);
          box-shadow: 0 5px 15px rgba(61, 199, 33, 0.637);
}

main section.contact .container button a {
  padding: 25px 50px;
  font-size: var(--small-font);
  text-decoration: none;
  color: #fff;
}

footer {
  background: #030e03;
  width: 100%;
  padding-bottom: 90px;
}

footer .container {
  width: 100%;
  height: 100%;
}

footer .container .row {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container .row .column {
  color: #fff;
  margin-right: 60px;
}

footer .container .row .column:not(:first-child) {
  width: 200px;
  margin: 0 15px;
}

footer .container .row .column:first-child hr {
  width: 90px;
  height: 2.2px;
  background: green;
  border: none;
  margin: 10px 0;
}

footer .container .row .column ul li {
  list-style: none;
}

footer .container .row .column ul li:not(:last-child) {
  margin-bottom: 10px;
}

footer .container .row .column ul li a {
  color: #bbb;
  font-size: var(--tiny-font);
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

footer .container .row .column ul li a:hover {
  color: #065823;
}

footer .container hr {
  width: 90%;
  margin: 0 auto;
  height: 1.5px;
  background: #999;
  border: none;
}

footer .container P {
  padding-top: 30px;
  padding-left: 100px;
  color: #eee;
  font-size: var(--tiny-font);
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}

@-webkit-keyframes bob_up_down {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

@keyframes bob_up_down {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

@-webkit-keyframes shadow_bop {
  0%,
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes shadow_bop {
  0%,
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 800px) {
  header .clip nav {
    padding: 0 50px;
  }
  header .clip nav .nav-wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  header .clip nav .nav-wrapper ul {
    position: relative;
    width: 100%;
  }
  header .clip nav .nav-wrapper ul li {
    float: none;
    width: 100%;
    text-align: center;
    line-height: 0;
    margin: 30px 0;
    padding: 0;
  }
  header .clip nav .nav-wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  header .clip nav .nav-wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  header .clip nav .nav-wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  header .clip nav .nav-wrapper ul li:nth-child(4) a {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  header .clip nav .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  header .clip nav .nav-wrapper ul li a {
    padding: 5px 20px;
    opacity: 0;
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1.2px;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header .clip nav .nav-wrapper ul li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 3em;
    -webkit-transition: letter-spacing 0.5s, left 0.5s;
    transition: letter-spacing 0.5s, left 0.5s;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 500px;
  }
  header .clip nav .nav-wrapper ul li:hover a::before {
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
    left: 50%;
    width: 1800px;
    height: 1800px;
    pointer-events: none;
  }
  header .clip nav .nav-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  header .clip nav .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    margin-left: 14px;
  }
  header .clip nav .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  header .clip nav .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  header .clip nav .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
  header .clip .landing {
    padding: 50px;
  }
  main section.services .intro-columns .column {
    margin: 0 10px;
  }
  main section.services .carousel .column {
    margin: 0 10px;
  }
  main section.services .what-we-do p {
    line-height: 1.5rem;
  }
  main section.services .what-we-do p:last-of-type {
    letter-spacing: normal;
  }
  main section.target {
    padding: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 100%;
  }
  main section.target .target-text {
    width: auto;
    text-align: center;
    margin: 50px 0;
  }
  main section.agency {
    padding: 50px;
  }
  main section.agency .workspaces {
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    -ms-grid-rows: 200px 200px;
        grid-template-rows: 200px 200px;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    margin-top: 30px;
  }
  main section.agency .workspaces .column .content {
    width: 200px;
    left: 25px;
    padding: 20px;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --heading-font: 30px;
    --title-font: 20px;
    --text-font: 18px;
    --small-font: 16px;
    --tiny-font: 14px;
  }
  header .clip nav {
    padding: 0 20px;
  }
  header .clip nav .nav-btn {
    top: 20px;
  }
  header .clip .landing {
    padding: 50px 20px;
  }
  header .clip .landing h1 {
    font-size: var(--heading-font);
    letter-spacing: 1px;
    line-height: 45px;
  }
  main section.services .intro-columns {
    display: none;
  }
  main section.services .carousel {
    display: unset;
    padding: 0px 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  main section.services .carousel .swiper-container.swiper-container-3d .swiper-slide-shadow-left,
  main section.services .carousel .swiper-container.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
  }
  main section.target .target-text .business-analysis {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main section.target .target-image img {
    max-width: 350px;
  }
  main section.web-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  main section.web-services .column {
    padding: 10px 40px;
  }
  main section.web-services .column::before {
    bottom: 10px;
  }
  main section.works .carousel {
    padding: 0;
  }
  main section.agency {
    padding: 30px;
  }
  main section.agency .workspaces {
    -ms-grid-columns: 350px;
        grid-template-columns: 350px;
    -ms-grid-rows: 300px 300px 300px;
        grid-template-rows: 300px 300px 300px;
  }
  main section.agency .workspaces .column:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  main section.agency .workspaces .column:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  main section.agency .workspaces .column:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  main section.agency .workspaces .column .content {
    left: 50px;
  }
  main section.who-we-are {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  main section.who-we-are .column {
    width: 250px;
  }
  main section.who-we-are .column:not(:last-child) {
    margin-bottom: 30px;
  }
  main section.who-we-are .column h1 {
    font-size: var(--small-font);
  }
  main section.who-we-are .column p {
    font-size: var(--tiny-font);
  }
  main section.testimonials {
    padding: 30px;
  }
  main section.testimonials .testifiers .carousel {
    padding: 0;
  }
}

@media screen and (max-width: 340px) {
  main section.agency .workspaces {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
  main section.agency .workspaces .content {
    left: 25px;
  }
  main section.target .target-image img {
    max-width: 300px;
  }
  @-webkit-keyframes bob_up_down {
    0%,
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
  @keyframes bob_up_down {
    0%,
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
}
/*# sourceMappingURL=style.css.map */